asgiref==3.6.0
beautifulsoup4==4.12.0
cffi==1.15.1
cryptography==40.0.1
Django==3.2.18
django-bootstrap-v5==1.0.11
django-environ==0.10.0
fontawesomefree==6.4.0
Jinja2==3.1.2
MarkupSafe==2.1.2
pyaes==1.6.1
pycodestyle==2.10.0
pycparser==2.21
pytz==2023.3
soupsieve==2.4
sqlparse==0.4.3