asgiref==3.6.0
beautifulsoup4==4.12.0
Django==3.2.18
django-bootstrap-datepicker-plus==5.0.3
django-bootstrap-v5==1.0.11
django-environ==0.10.0
fontawesomefree==6.2.1
Jinja2==3.1.2
MarkupSafe==2.1.2
pycodestyle==2.10.0
pydantic==1.10.7
pytz==2023.3
soupsieve==2.4
sqlparse==0.4.3
typing_extensions==4.5.0
