{% extends 'base.html' %}
{% load static %}

{% block title %}
 <title>CENS 451 | Contacto </title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/components/contacto.css' %}?v={% now 'U' %}">
{% endblock %}

{% block header %}
    {% include 'components/navbar.html' %}
    {% include 'components/banner.html' %}
{% endblock %}


{% block main %}

<div class="container contact my-5">
	<div class="row">
		<div class="row">
			<div class="contact-info">
				{% comment "" %}<img src="../static/img/mail2.png" alt="image"/>{% endcomment %}
				<h3 class="h3">¡Contáctanos!</h2>
				<h5 class="h5">Te invitamos a compartirnos tu duda, pregunta o solicitud a continuación y con mucho gusto te responderemos.</h4>
			</div>
		</div>
		<div class="row">
			{% comment "" %}
			<form action="/contact" method="POST">
				{% csrf_token %}
				<div class="contact-form">
					<div class="form-group">
					<div class="col-sm-10">
						<input type="text" class="form-control" id="fname" placeholder="Nombre y Apellido" name="fname" required>
					</div>
					</div>
					<div class="form-group">
					<div class="col-sm-10">
						<input type="text" class="form-control" id="lname" placeholder="Teléfono" name="lname">
					</div>
					</div>
					<div class="form-group">
					<div class="col-sm-10">
						<input type="email" class="form-control" id="email" placeholder="Dirección de correo electrónico" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
						title="Por favor, ingrese un correo electrónico válido (ejemplo@dominio.com)">
					</div>
					</div>
					<div class="form-group">
					<label class="control-label col-sm-2" for="comment">Escribe tu consulta:</label>
					<div class="col-sm-10">
						<textarea class="form-control" rows="5" id="comment"></textarea>
					</div>
					</div>
					<div class="form-group">        
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Submit</button>
					</div>
					</div>
				</div>
			</form>
			{% endcomment %}
			{% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{message}}
                </div>
            {% endfor %}
			<form action="{% url 'contacto' %}" method="POST" novalidate>
				{% csrf_token %}
				<div class="row">
					{% for campo in contacto_form %}
						<div class="form-group">
							<div class=class="col-sm-10">
								<label for="name" class="">{{ campo.label }}</label>
                                {{campo}}
							</div>
							<div class="msg_error">{{campo.errors}}</div>
							<br>
						</div>
					{% endfor %}
				</div>
				<div>
					<button class="btn btn-primary" type="submit">Enviar</button>
				</div>
			</form>
		</div>
		<br><br><br><br><br><br>
	</div>
</div>
{% endblock %}
