{% extends 'base.html' %}
{% load static %}

{% block title %}
 <title>CENS 451 | Docentes </title>
{% endblock %}

{% block header %}
    {% include 'components/navbar.html' %}
    {% include 'components/banner.html' %}
{% endblock %}


{% block main %}
<main class="container-fluid">
    <section class="py-2" >
        <div class="container px-5">
            <h1 class="display-4 py-3 d-flex justify-content-center">Toma de posesión</h1>
            <div class="d-flex flex-column px-5 py-2">

                <p class="text-start">
                    La toma de posesión debe realizarse en la sede del CENS N° 451 luego de acudir por primera vez al espacio de trabajo designado por la SAD, deben recibir la firma del referente de la sede o algún estudiante en la <b>Planilla de asistencia docente</b>, la cual deberán mostrar al momento de la toma de posesión sin exepción.  
                </p> 
                <p class="text-start">
                    Para la toma de posesión debe presentarse ejemplar original del <b>Acta de designación</b> firmada por SAD. Y por cada una de las comisiónes que tomaron horas se debe presentar un <b>Acta toma de posesión Plan Fines</b>. Los demás documentos solo deben entregarse a único ejemplar ya que están relacionados al inicio de actividades en la institución durante este cuatrimestre.   
                </p>

                <ul class="text-start">
                    <li><a href="https://drive.google.com/file/d/1jTvOkjuD_tj44ZtQUUCHFSl0ADELASwL/view?usp=sharing" target="_blank">Acta toma de posesión Plan Fines</a> (una por cada comision)</li>
                    <li><a href="https://drive.google.com/file/d/1nfUWODIZv98vcQQwEIlykQKOL9OTS2h0/view?usp=sharing" target="_blank">Acta notificación de obligaciónes del Plan Fines</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/1hLatkHOnheHlNWwAf7qG-jFVYy7rSZkk/edit?usp=sharing&ouid=110105563064741507959&rtpof=true&sd=true" target="_blank">Declaración jurada de incompatibilidad horaria</a> (firmada por autoridades en ejemplar original)</li>
                    <li><a href="https://docs.google.com/spreadsheets/d/13rcS2L1QyK2IYBwY8uL3GHI_d0dpQArj/edit?usp=sharing&ouid=110105563064741507959&rtpof=true&sd=true" target="_blank">Ficha individual para el personal docente</a></li>
                    
                </ul>
        
                <p class="text-start">
                    La <b>Planilla de asistencia docente</b> y el <b>Libro de temas Plan Fines</b> deberán ser entregados al finalizar el cuatrimestre o renunciar al cargo.
                </p>

                <ul class="text-start">
                    <li><a :href="https://docs.google.com/spreadsheets/d/16y0lgQOMzVVJDtYX533F1dG6F1VoX62t/edit?usp=sharing&ouid=110105563064741507959&rtpof=true&sd=true" target="_blank">Planilla de asistencia docente</a></li>
                    <li><a :href="https://docs.google.com/spreadsheets/d/1wmpWvk_DzY7TIk_EnFbfW2wFwZN-AjkK/edit?usp=sharing&ouid=110105563064741507959&rtpof=true&sd=true" target="_blank">Libro de temas Plan Fines</a> </li>
                </ul>

                <p class="text-start">
                    Las planillas de estudiantes, asistencia y calificaciónes serán enviados a su casilla de correo electrónico desde <a href="mailto:cens451lanusdocentes@gmail.com">cens451lanusdocentes@gmail.com</a>.
                    Dicha planilla de estudiantes <b>no debe ser modificada sin previa consulta con la coordinación</b> del Plan Fines. Los listados actualizados serán enviados con el correr de las semanas tras cerrar todas las inscripciónes, en caso de necesitar saber si un estudiante pertenece o no a la comisión pueden buscarlo por DNI en la sección del <router-link to='fines'>Plan Fines</router-link>. De no aparecer, el interesado debe presentarse en el CENS en los días de atención o contactarse por mail. 
                </p>

                <p class="text-start">
                    La carga a contralor no será efectuada hasta que la toma de posesión sea efectiva, sin excepción. El no realizar la toma de posesión puede verse reflejado en los haberes percibidos por las horas designadas hasta que la misma sea realizada. En caso de no regularizarse la situación de cobros pendientes o haber demorado mucho en realizar la toma de posesión deben dirigirse a la sede del CENS 451 con los recibos de haberes.
                </p>
            </div>
        </div>
    </section>

    <section class="py-2 bg-light">
        <div class="container px-5">
            <h1 class="display-4 py-3 d-flex justify-content-center">Asistencia</h1>
            <div class="d-flex flex-column px-5 py-2">
            <p class="text-start">
                Los docentes son designados por dieciocho (18) semanas con encuentros presenciales, dandose los casos de cursada simple y doble por semana sea por cuestiónes pedagógicas como también pertinentes a los horarios de la sede.
                Queda así la estructura del cuatrimestre conformada por
            </p>

            <ul class="text-start">
                <li>16 semanas de clases regulares</li>
                <li>1 semana de periodo de CREC</li>
                <li>1 semana de Mesas de Examen (Disp. 60/13)</li>
            </ul>

            <p class="text-start">
                Los docentes recibirán una retribución mensual correespondiente al cargo de PRofesor dee Secundaria (en horas cátedra) por esa cantidad de semanas (18)
            </p>

            <p class="text-start">
                En la cursada regular los alumnos deben cumplir con mas de 75% de asistencia, una vez alcanzado el límite deben pedir reincorporación en la dirección del CENS y deberán ser <b>evaluados en periodo CREC sin excepción</b>, independientemente de las calificaciónes obtenidas. Una vez realizada la reincorporación el alumno no puede faltar mas.
                A continuación se ejemplifica el régimen para las materias que se cursan una o dos veces por semana.
            </p>

            <ul class="text-start">
                <li><b>Cursada simple:</b> 4 inasistencias como máximo con reincorporación, a la quinta quedan libres y deben recursar la materia.</li>
                <li><b>Cursada doble:</b> 8 inasistencias como máximo con reincorporación, a la novena quedan libres y deben recursar la materia.</li>
            </ul>


            <p class="text-start">
            Para la reincorporación el/la estudiante deberá presentarse en el CENS con una notificación del docente, consignando la fecha de los días faltados para la verificación.
            </p>

            <p class="text-start">
                Todos los profesores tienen a su cargo la tarea de seguimiento del alumno, esta implica interiorizarse cuando un alumno comienza a inasistir y ofrecerle alguna actividad domiciliaria, averiguar las causales, informar a los compañeros y a los referentes cuando se haya detectado un posible abandono o algún alumno se halle enfermo de gravedad, para generar conjuntamente con el director de CENS alguna alternativa que tienda a evitar su deserción. El docente tiene la obligación de informar todos estos casos y cualquier situación conflictiva, inadecuada o anormal que ocurriese en cualquiera de las sedes, al director de CENS y/o a esta Inspección.
                Si el estudiante sigue inasistiendo, su continuidad la evaluaría el director de CENS, debiendo tener que mantener una entrevista el alumno con éste, instancia ineludible para concientizar y comprometer al estudiante, o de darle la oportunidad de justificarlas si tuviera motivos de fuerza mayor.
            </p>

            <p class="text-start">
                Por último se menciona que:
            </p>

            <ul class="text-start">
                <li>Toda inasistencia docente a clases debe informarse a cens451lanusdocentes@gmail.com dentro de las 24hs, debiendo recuperarse la clase perdida en otro horario/dia a coordinar con los estudiantes y referentes de la sede.</li>
                <li>Ningún profesor está autorizado a tomar decisiones que competen a los directivos en cuanto a inasistencias/incorporaciónes o a suspensión de clases, etc.</li>
                <li>Ninguna clase puede ser suplida por trabajos fuera de clase ni a través de clases virtuales.</li>
                
            </ul>

            
            
            </div>
        </div>
    </section>


    <section class="py-2">
        <div class="container px-5">
            <h1 class="display-4 py-3 d-flex justify-content-center">Calificación</h1>
            <div class="d-flex flex-column px-5 py-2">
                <p class="text-start">
                    Para la confección de las calificaciónes se tendrán en cuenta 3 instancias de calificación, donde la nota final dependerá si el alumno debía asistir y rendir en el periodo de CREC.  
                </p>

                <ul class="text-start">
                    <li>Nota de cursada: Promedio de las 4 notas parciales, donde al menos una debe ser una instancia de examen escrito. La cursada se considerará aprobada con nota mayor o igual a siete (7). </li>
                    <li>CREC: Instancia de evaluación en la semana 17 a la cual acceeden aquellos alumnos que hayan obtenido en la cursada nota mayor o igual a cuatro (4) y menor a siete (7). Como también aquellos alumnos que hayan alcanzado el límite de inasistencias o hayan sido reincorporados, independientemente de la nota obtenida en la cursada. El CREC se considerará aprobado con nota mayor o igual a cuatro (4).</li>
                    <li>Nota final (sin CREC): Se repite la nota de cursada y se anula ("-") el casillero de CREC. La materia se considerará aprobada con calificación mayor o igual a siete (7)</li>
                    <li>Nota Final (con CREC): Se promedia el CREC con la nota de cursada. Si el alumno obtiene una nota en CREC que no permite que la Nota Final sea mayor o igual a cuatro (4), la materia no se considerará aprobada. </li>
                </ul>

                <p class="text-start">
                    Por otro lado, dentro de la última semana del cargo (semana 18) puede solicitarsele al personal docente la toma de mesas de exámen en el caso de que haya alumnos inscriptos para la misma.
                    En este caso se considerará la materia aprobada con nota mayor o igual a cuatro (4).
                    A la mesa de exámen pueden acceder alumnos autorizados por la coordinación de fines que no hayan estado en la cursada. También podrán acceder aquellos alumnos que si estuvieron en la cursada con el docente que cumplen los siguientes requisitos:

                    <ul class="text-start">
                    <li>Asistencia al 75% de las clases</li>
                    <li>Cursada con calificación mayor o igual a 4, y menor a 7.</li>
                    <li>Desaprobaron o no pudieron asistir a CREC.</li>
                    </ul> 
                </p>

                <p class="text-start">
                    En este caso se debe confeccionar una nueva planilla de calificaciónes con los alumnos presentes en la mesa de examen, consultando con la coordinación del Plan Fines.
                </p>
            </div>
        </div>
    </section>

    <section class="py-2 bg-light">
        <div class="container px-5">
            <h1 class="display-4 py-3 d-flex justify-content-center">Renuncias</h1>
            <div class="d-flex flex-column px-5 py-2">
                <p class="text-start">
                    Las renuncias deben ser enviadas a <a href="mailto:cens451lanus@abc.gob.ar">cens451lanus@abc.gob.ar</a> dirigidas al director Pastorino Pablo, consignando comision, número de IGE y datos personales. La inasistencia a clases, el dictado no presencial de las mismas y las licencias de tiempo prolongado (a excepción de ART y embarazo) son motivo para el cese de actividades al cargo designado. 
                </p>
            </div>
        </div>
        
    </section>
</main>

{% endblock %}