{% extends 'pass_base.html' %}

{% block title %}Nueva contraseña{% endblock title %}

{% block subtitle %}Por favor introduzca su nueva contraseña.{% endblock subtitle %}

{% block form %}

{% block input %}

{{new_form.new_pass}}

{% endblock input %}

{% block error %} {{ new_form.new_pass.errors }} {% endblock error %}

{% block input2 %}

{{new_form.pass_confirm}}

{% endblock input2 %}

{% block error2 %} {{ new_form.pass_confirm.errors }} {% endblock error2 %}

{% endblock form %}

{% block value %} Actualizar contraseña {% endblock value %}