{% extends 'pass_base.html' %}

{% load static %}

{% block title %}Nueva contraseña{% endblock title %}

{% block subtitle %}Por favor introduzca su nueva contraseña.{% endblock subtitle %}

{% block form %}

{% block input %}

<div class="password-input-container">
    {{new_form.new_pass}}
    <span  id="showPasswordBtn3" class="show-password-button" onclick="newPass()">
        <i class="fas fa-eye"></i>
    </span>
</div>

{% endblock input %}

<script>
    function newPass() {
        var passwordInput = document.getElementById("pass");
        var showPasswordBtn = document.getElementById("showPasswordBtn3");
    
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    }
</script>

{% block error %} {{ new_form.new_pass.errors }} {% endblock error %}

{% block input2 %}

<div class="password-input-container">
    {{new_form.pass_confirm}}
    <span  id="showPasswordBtn4" class="show-password-button" onclick="newPassRepeat()">
        <i class="fas fa-eye"></i>
    </span>
</div>

{% endblock input2 %}

<script>
    function newPassRepeat() {
        var passwordInput = document.getElementById("pass_confirm");
        var showPasswordBtn = document.getElementById("showPasswordBtn4");
    
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    }
</script>

{% block error2 %} {{ new_form.pass_confirm.errors }} {% endblock error2 %}

{% endblock form %}

{% block value %} Actualizar contraseña {% endblock value %}

<script src={% static 'js/sign.js' %}></script>