<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href={% static "css/components/sign.css" %}>
    <title>Sign in/up</title>
</head>
<body>
    <div class="logo">
        <div class="logo-container">
            <a href="{% url 'index' %}"><img src={% static "img/logo.png" %} alt="Logo CENS 451"></a>
        </div>
    </div>
    <div class="container">
            <div class="login-container">
                <input id="item-1" type="radio" name="item" class="sign-in" checked><label for="item-1" class="item">Ingresar</label>
                <input id="item-2" type="radio" name="item" class="sign-up"><label for="item-2" class="item">Registrate</label>
                <div class="login-form">
                    <form method="POST" action="{% url 'sign' %}">
                        {% csrf_token %}
                          <div class="sign-in-htm">
                            <div class="group">
                              {{ form.user }}
                            </div>
                            <div class="group">
                              {{ form.password }}
                            </div>
                            <div class="group">
                                <input type="submit" class="button" value="Sign In" action="/signup" method="POST" onsubmit="return validateForm()">
                            </div>
                            <div class="hr"></div>
                            <div class="footer">
                              <a href="#forgot">Olvidaste la contraseña?</a>
                            </div>
                          </div>
                      </form>
                    <form action="{% url 'sign' %}" method="POST">
                        {% csrf_token %}  
                        <div class="sign-up-htm">
                            <div class="group">
                                {{form2.user}}
                            </div>
        
                            <div class="group">
                                {{form2.email}}
                            </div>
        
                            <div class="group">
                                {{form2.password}}
                            </div>
                            <div class="group">
                                {{form2.pass_repeat}}
                            </div>
        
                            <div class="group">
                                <input type="submit" class="button" value="Sign Up">
                            </div>
                            <div class="hr"></div>
                            <div class="footer">
                                <label for="item-1">Ya tenés una cuenta?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>
</html>