{% extends '../../base_admin.html' %}

{% block titulo %}Nuevo campus{% endblock%}

{% block contenido %}
<h1 class="mt-4">Campus</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'inicio_administracion' %}">Administracion</a></li>
    <li class="breadcrumb-item active">Nuevo Campus</li>
</ol>


<div class="card">
    <div class="card-header">Creacion de categoría</div>
    <div class="card-body">
        <form action="{% url 'campus_nuevo' %}" method="post" novalidate>
            {% csrf_token %}
            {% include 'administracion/crud/campus/form.html' %}
        </form>
    </div>
</div>
{% endblock %}