body{
    background: -webkit-linear-gradient(bottom, #212529, #2E2D2D);
}
.emp-profile{
    display: flex;
    flex-direction: column;
    flex-flow: column;
    padding: 3%;
    margin-top: 6%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    margin-left: 10%;
    background: #fff;
    max-width: 80% !important;
}

.profile-work{
    padding: 14%;
    margin-top: -25%;
}
.profile-work p{
    font-size: 15px;
    color: #000;
    font-weight: 500;
    margin-top: 10%;
}

.profile-work strong{
    margin-left: 2%;
}

.profile-work ul{
    list-style: none;
}
.px-5 .my-5 label{
    font-weight: 600 !important;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}