body{
    background: -webkit-linear-gradient(bottom, #212529, #2E2D2D);
}
.emp-profile{
    display: flex;
    flex-direction: column;
    flex-flow: column;
    padding: 3%;
    margin-top: 8%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    margin-left: 15%;
    background: #fff;
    min-width: 60%;
    max-width: 70%;
}

.profile-work{
    padding: 4%;
    margin-top: 0%;
}
.profile-work p{
    font-size: 15px;
    color: #000;
    font-weight: 500;
    margin-top: 10%;
}

.profile-work strong{
    margin-left: 0.5%;
}

.profile-work ul{
    list-style: none;
}
