body {
    margin: 0;
    color: #C1AAC6;
    background: #0E0709;
    font-family: 'Montserrat', monospace;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

*,
 :after,
 :before {
    box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: itemle
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

.container {
    width: 100%;
    margin: auto;
    margin-top: 5%;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.login-container {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: #131315;
    border-radius: 5px;
}

.login-container .sign-in-htm,
.login-container .sign-up-htm {
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}

.login-container .sign-up-htm {
    top: 20%;
}

.login-container .sign-in,
.login-container .sign-up,
.login-form .group .check {
    display: none;
}

.login-container .item,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
}

.login-container .item {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.login-container .sign-in:checked+.item,
.login-container .sign-up:checked+.item {
    color: #fff;
    border-color: #542a3a;
}

.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.login-form .group {
    margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: #fff;
    display: block;
}

.button {
    cursor: pointer;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
}

.login-form .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}

.login-form .group .label {
    color: #aaa;
    font-size: 12px;
}

.login-form .group .button {
    background: #542a3a;
}

.login-form .group .button:hover,
.login-form .group .button:focus {
    background: #943459;
}

.login-form .group .check:checked+label {
    color: #fff;
}

.login-container .sign-in:checked+.item+.sign-up+.item+.login-form .sign-in-htm {
    transform: rotate(0);
}

.login-container .sign-up:checked+.item+.login-form .sign-up-htm {
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2);
}

.footer {
    text-align: center;
}

.login-container label:hover,
.login-container label:focus {
    color:rgba(255, 255, 255, 0.9)
}

.footer a:hover,
.footer a:focus {
    color:rgba(255, 255, 255, 0.9)
}

.logo {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}

.logo-container a img {
    width: 75px;
    height: 75px
}

.login-form ul {
    list-style: none; 
}

.login-form li {
    border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
    color:#943459;
}