{% extends 'base.html' %}
{% load static %}

{% block title %}
 <title>CENS 451 | Contacto </title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/components/contacto.css' %}">	
{% endblock %}

{% block header %}
    {% include 'components/navbar.html' %}
    {% include 'components/banner.html' %}
{% endblock %}


{% block main %}

<div class="container contact my-5">
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<img src="../static/img/mail.png" alt="image"/>
				<h2>¡Contáctanos!</h2>
				<h4>Te invitamos a compartirnos tu duda, pregunta o solicitud a continuación y con mucho gusto te responderemos.</h4>
			</div>
		</div>
		<div class="col-md-9">
			<div class="contact-form">
				<div class="form-group">
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="fname" placeholder="Nombre y Apellido" name="fname">
				  </div>
				</div>
				<div class="form-group">
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="lname" placeholder="Teléfono" name="lname">
				  </div>
				</div>
				<div class="form-group">
				  <div class="col-sm-10">
					<input type="email" class="form-control" id="email" placeholder="Dirección de correo electrónico" name="email">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="comment">Escribe tu consulta:</label>
				  <div class="col-sm-10">
					<textarea class="form-control" rows="5" id="comment"></textarea>
				  </div>
				</div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Submit</button>
				  </div>
				</div>
			</div>
		</div>
		<br><br><br><br><br><br><br><br><br><br><br>
		
	</div>
</div>
{% endblock %}
