<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/components/forgot.css' %}?v={% now 'U' %}">
    <title>Verificar código</title>
</head>
<body>
    <div class="logo">
        <div class="logo-container">
            <a href="{% url 'index' %}"><img src={% static "img/logo.png" %} alt="Logo CENS 451"></a>
        </div>
    </div>
    <div class="container">
        <div class="login-container">
            <p class='title-1' style='text-align:center; margin-left:18%'>{% block title %}  {% endblock title %}</p>
            <p style='text-align:center;'>{% block subtitle %}  {% endblock subtitle %}</p>
            <div class="login-form">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} {% endif %}
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="sign-in-htm">
                        {% block form %}
                        <div class="group">                             
                            {% block input %}  {% endblock input %}
                            <p class="errors">{% block error %}  {% endblock error %}</p>

                        </div>
                        <div class="group">                         
                            {% block input2 %}  {% endblock input2 %}
                            <p class="errors">{% block error2 %}  {% endblock error2 %}</p>
                        </div>                            
                            {% endblock form %}
                        <div class="group">
                            <input type="submit" class="button" value="{% block value %}  {% endblock value %}" name="submit">
                        </div>
                        <div class="hr"></div>
                        <div class="footer">
                            <label for="item-1"><a href="{% url 'sign' %}">Ya tenés una cuenta?</a>
                        </div>
                    </div>
                </form>
            </div>    
        </div>
    </div>
</body>
</html>