{% load static %}
<div class="col-lg-4 mb-5" style="min-height: 350px;">
    <div class="card h-100 shadow border-0">
        {% comment %} <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." /> {% endcomment %}

        <div class="card-body p-4">
            <div class="badge bg-primary bg-gradient rounded-pill mb-2">
                {{noticia.categoria}}
            </div>
            <a class="text-decoration-none link-dark stretched-link" href="noticias/{{noticia.id}}/">
                <h5 class="card-title mb-3">
                    {{noticia.titulo}}
                </h5>
            </a>

            <p class="card-text mb-0 h-">
                    {{noticia.resumen}}
            </p>
        </div>
        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
            <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex align-items-center">
                    <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                    <div class="small">
                        <div class="fw-bold">CENS 451 Lanús</div>
                        {% comment %} <div class="text-muted">March 12, 2023 &middot; 6 min read</div> {% endcomment %}
                        <div class="text-muted">{{noticia.creado}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>