<div class="container-fluid mt-5 p-0">
    <footer class="text-white text-center text-lg-start bg-dark">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row mt-4">


          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-center mb-4 pb-1">Ubicación</h5>
<!--
            <div class="form-outline form-white mb-4">
              <input type="text" id="formControlLg" class="form-control form-control-lg">
              <label class="form-label" for="formControlLg" style="margin-left: 0px;">Search</label>
            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 48.8px;"></div><div class="form-notch-trailing"></div></div></div> -->

            <ul class="fa-ul" style="margin-left: 1.65em;">
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Av. R. de Escalada de San Martín 4231, Lanús, Argentina</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">cens451lanus@gmail.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">4208 - 7753</span>
              </li>
              <!-- <li class="mb-3">
                <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+ 01 234 567 89</span>
              </li> -->
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 text-center">Atención al Público</h5>

            <table class="table text-center text-white">
              <tbody class="font-weight-normal">
                <tr>
                  <td>Alumnos Fines - Lu y Mie </td>
                  <td>18:30 hs a 20:30 hs</td>
                </tr>
                <tr>
                  <td>Referentes - Viernes</td>
                  <td>18:30 hs a 20:30 hs</td>
                </tr>
                <tr>
                  <td>Docentes - Lu a Vie</td>
                  <td>18:30 hs a 21:30 hs</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 text-center">Sobre Nosotros</h5>

            <!-- <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              voluptatum deleniti atque corrupti.
            </p>

            <p>
              Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
              molestias.
            </p> -->


          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->




      </div>
      <!-- Grid container -->






      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright
        <a class="text-white" href="mailto:abel.mentette@gmail.com">abelmentette</a>
      </div>
      <!-- Copyright -->
    </footer>

  </div>