{% load static %}
<header>

    <nav>
      <div class="branding">
        <a href="{% url 'home' %}">
          <img src="{% static 'img/logo.png' %}" alt="CENS 451">
          <p class="name_branding">CENS 451</p>
        </a>
      </div>

      <ul id="navId" class="navigation">
        <li><a href="{% url 'home' %}">Inicio</a></li>
        <li><a href="{% url 'fines' %}">Plan Fines</a></li>
        <li><a href="{% url 'docentes' %}">Docentes</a></li>
      </ul>

      <div id="iconNavId" class="iconNavbar">
          <i  class="fa-solid fa-bars" ></i>
      </div>


      <div>
        <ul id="mobileNavId" class="dropdown-nav mobile-nav-leave-active mobile-nav-leave-to" >
          <li><a class="link" href="{% url 'home' %}">Inicio</a></li>
          <li><a class="link" href="{% url 'fines' %}">Plan Fines</a></li>
          <li><a class="link" href="{% url 'docentes' %}">Docentes</a></li>
        </ul>
      </div>

    </nav>
  </header>