{% load static %}
<header>

    <nav>
      <div class="branding">
        <a href="{% url 'index' %}">
          <img src="{% static 'img/logo.png' %}" alt="CENS 451">
          <p class="name_branding">CENS 451</p>
        </a>
      </div>

      {% comment %} links desktop {% endcomment %}

      <ul id="navId" class="navigation">
        <li><a href="{% url 'index' %}">Inicio</a></li>
        {% if perms.grupo_9 %}
        <li><a href="{% url 'inicio_administracion' %}">Administración</a></li>
        {% endif %}
        <li><a href="{% url 'cens' %}">CENS</a></li>
        <li><a href="{% url 'fines' %}">Plan Fines</a></li>
        <li><a href="{% url 'docentes' %}">Docentes</a></li>
        <li><a href="{% url 'contacto' %}">Contacto</a></li>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'logout' %}">
            <button type="button" class="btn btn-secondary">Cerrar Sesión</button>
          </a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'sign' %}">
            <button type="button" class="btn btn-secondary">Ingresar</button>
          </a>
        </li>
        {% endif %}

      </ul>

      {% comment %} responsive mobile {% endcomment %}

      <div id="iconNavId" class="iconNavbar">
          <i  class="fa-solid fa-bars" ></i>
      </div>

      <div id="navMobileId">
        <ul>
            <li><a class="link" href="{% url 'index' %}">Inicio</a></li>
            <li><a class="link" href="{% url 'cens' %}">CENS</a></li>
            <li><a class="link" href="{% url 'fines' %}">Plan Fines</a></li>
            <li><a class="link" href="{% url 'docentes' %}">Docentes</a></li>
            <li><a class="link" href="{% url 'contacto' %}">Contacto</a></li>
            
            <a href="{% url 'sign' %}">
              <button type="button" class="btn btn-primary">Ingresar</button>
            </a>
            
        </ul>
      </div>

    </nav>
  </header>